<div class="container mt-2 shadow-lg rounded p-2">
  <h2>Angular -JSON-SERVER (CRUD)</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fr of frutas">
        <th>{{fr.id}}</th>
        <th>{{fr.descripcion}}</th>
        <th>{{fr.precio}}</th>
        <th><button (click)="baja(fr)" class="btn btn-danger">Borrar</button></th>
        <th><button (click)="seleccionar(fr)" class="btn btn-info">Seleccionar</button></th>
      </tr>
    </tbody>
  </table>
    <div class="form-group col  d-inline-block">
      <label for="id">ID:</label>
      <input type="number" class="form-control" id="id" placeholder="0" [(ngModel)]="fruta.id">
    </div>
    <div class="form-group col  d-inline-block">
      <label for="Email">Descripción:</label>
      <input type="email" class="form-control" id="Email" [(ngModel)]="fruta.descripcion">
    </div>
    <div class="form-group col  d-inline-block">
      <label for="Idioma">Precio:</label>
      <input type="text" class="form-control" id="Idioma" [(ngModel)]="fruta.precio">
    </div>


  </div>

  <!--
<div class="mt-2">
    <button (click)="agregar()" type="submit" class="btn btn-success m-2">Insertar</button>
    <button (click)="‘modificacion()" type="submit" class="btn btn-warning m-2">Modificar</button>
  </div>
  -->

