<div class="container mt-2 shadow-lg rounded p-2">
  <h2>Angular -JSON-SERVER (CRUD)</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Borrar</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fr of frutas">
        <th>{{fr.id}}</th>
        <th>{{fr.descripcion}}</th>
        <th>{{fr.precio}}</th>
        <th><button (click)="eliminar(fr.id)" class="btn btn-danger">Borrar</button></th>
        <th><button (click)="seleccionar(fr)" class="btn btn-info">Seleccionar</button></th>
      </tr>
    </tbody>
  </table>
  <div class="form-group mb-3">
    <!--
    <div class="form-group col">
      <label for="id" class="form-label">ID:</label>
      <input type="number" class="form-control" id="id" placeholder="0" name="id" [(ngModel)]="fruta.id">
    </div>
    -->

    <div class="form-group col">
      <label for="Email" class="form-label">Descripción:</label>
      <input type="email" class="form-control" id="Email" name="email" [(ngModel)]="fruta.descripcion">
    </div>
    <div class="form-group col">
      <label for="Idioma" class="form-label">Precio:</label>
      <input type="text" class="form-control" id="Idioma" name="idioma" [(ngModel)]="fruta.precio">
    </div>
  </div>

  <button (click)="insertar()" type="submit" class="btn btn-success me-2">Insertar</button>
  <button (click)="modificar(fruta.id)" type="submit" class="btn btn-warning m-2">Modificar</button>

  </div>

